body {
  background-color: #089181;
}
h1, h2, h3, h4 {
  font-family: 'PT Serif', serif;
}
section {
  font-family: 'PT Serif', serif;
  text-align: center;
}
.table1{
  margin: 0 auto;
  width: 800px;
  border-color: white;
}
