body {
  background-color: #089181;
}
h1, h2, h3, h4 {
  font-family: 'PT Serif', serif;
}
section {
  font-family: 'PT Serif', serif;
  text-align: center;
}
.table1{
  margin: 0 auto;
  width: 800px;
  border-color: white;
}
i{
  color: black;
}
/*.fa-shopping-bag{
  color: white;
}*/
.btnBuy{
  text-align: center;
}
.fa-text-width{
  color: white;
}
.fa-check{
  color: white;
  right: 0;
}
.loginToken{
  background-color: black;
  bottom: 0;
  right: 0;
  position: fixed;
}
